<router-outlet></router-outlet>
<h1>Hello World</h1>
<a routerLink="/news" routerLinkActive="active">News</a>
<a routerLink="/news/sports" routerLinkActive="active">Sports</a>
<p>{{title}}</p>
<app-hand-bones></app-hand-bones>
<website-blog></website-blog>

<!-- Passing normal values with ng-content -->
<custom-button >
  Header
</custom-button>

<!-- Passing the template to the input decorator -->
<custom-blog title="Custom blog 2" [description]="title" [templateHeader]="header">
</custom-blog>

<ng-template #header>
  <h1>Template header</h1>
  <img src="https://miro.medium.com/max/3492/1*fKb9TdxSYjVzWindUWaGUg.png" width="200" alt="">
</ng-template>

<!-- With slot projection with ng-content -->
<custom-blog title="Custom blog" description="Custom blog description" [templateHeader]="header">
  <h1 header>Heading</h1>
  <p description>THe blog description</p>
</custom-blog>
<custom-blog >
  <h1 header>Heading</h1>
  <p description>THe blog description</p>
</custom-blog>

